.nav-links {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: start;
	gap: 10px;
}
.pagination{
	margin-top: 24px;
	.screen-reader-text{
		display: none;
	}
}

.page-numbers {
	border: 1px solid #EFEFEF;
	width: 44px;
	height: 44px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: var(--color-heading);
	font-size: 16px;
	font-weight: 700;
	line-height: 1.25;
	border-radius: 10px;

	&:hover,
	&.current {
		background-color: var(--color-main);
		border: 1px solid var(--color-main);
		color: var(--color-white);
		text-decoration: none;
	}

}